.home{
    background-color: #eeeeee;
    
    
    .image{
        display: flex;
        justify-content: flex-end;
    }
    h2 {
        padding-left: 20px;
    }
    
    .aboutPics {
        display: flex;
        flex-wrap: wrap;
        font-family: 'Fjalla One', sans-serif;
        font-size: 2rem;
        justify-content: center;
        //margin:0 auto;
    }
    @media @phone{
        .eachPic{
           display: flex;
           flex-direction: column;
           align-items: center;
           margin: 0 auto;
           font-size: 2rem;
           
        }
       
        .eachTitle{
            display: flex;
            align-items: center;
        }
    }
    
}