.logo{
    font-size: 4rem;
    margin-right: 10%;
    //border: 1px solid red;
    
}
.pageHome {
    display: inline-flex;
}
.pageInfo{
    width: 350px;
}

.image{
    display: flex;
    justify-content: flex-end;
}
.btn{
    font-size: 3rem;
    width: 260px;
    text-align: center;
    border-radius: 10px;
    &:hover{
        color: darkgray;
        font-size: 3.5rem;
     }
}




    @media @phone{
        .pageHome{
            display: flex;
            flex-direction: column-reverse;
            .pageInfo{
            width: 95%;
            padding-left: 15px; 
            }
            .image{
                width: 100%;
                justify-content: center;
            }
            .btn{
                width: 100%;
            }
        }
        
    }
    @media @desktop{
         
    }