.logo{
    font-size: 4rem;
    margin:0;
    padding-right: 300px;
    
}
.pageHome {
    display: inline-flex;
}
.pageInfo{
    width: 350px;
}

.image{
    display: flex;
    justify-content: flex-end;
}
.btn{
    font-size: 3rem;
    width: 260px;
    text-align: center;
    border-radius: 10px;

}




    @media @phone{
        .pageHome{
            display: flex;
            flex-direction: column-reverse;
        }
        
    }
    @media @desktop{
         
    }