.topNav{
    color: black;
    background: grey;
    padding: 15px;
    border: 1px double darkgrey;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
}