.topNav{
        display: flex;
        color: black;
        padding: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 30px;
        
       a{
            display: inline-flex;
            justify-content: space-around;
            text-decoration: none;
            font-family: 'Anton', sans-serif;
            padding: 10px 60px 10px 0px;
            font-size: 2rem;
            color: black;
         }
         a:hover{
            color: darkgray;
            font-size: 1.5rem;
         }
          @media @phone{
             display:flex;
             flex-flow: column wrap;
             .logo{
                padding-right: 50px;
                padding-bottom: 20px; 
               }
            }
         
         @media @desktop{
           .logo {
              padding-right: 400px;
           }  
         }
        }
  
 



